@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.Container{
    width: 100%;
    height: 100vh;
}
.loginBg{
    background-color: #f7f7f7;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.loginContainer{
    width: 455px;
    height: 590px;
    background: #FFFFFF;
    box-shadow: 0px 4px 44px -10px rgba(0, 0, 0, 0.06);
    border-radius: 30px;
}
.loginBox{
    width: 340px;
    margin: auto;
}
.loginName{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.3px;
    color: #000000;
    padding-top: 15px;
}
.inputPass{
    width: 100% !important;
    display: flex;
}
.LoginEmailName{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    letter-spacing: -0.3px;
    color: #C4C4C4;
    padding-top: 10px;
}
.date{
    width: 100% !important;
    border: 0 !important;
    border-bottom: 1px solid rgb(236, 234, 234) !important;
}
.inp_Email{
    height: 43px !important;
    border: none !important;
    border-bottom: 1px solid rgb(236, 234, 234) !important;
    width:95% !important
}
.inp_Email2{
    height: 43px !important;
    border: none !important;
    border-bottom: 1px solid rgb(236, 234, 234) !important;
    width:100% !important
}
.pvt {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.3px;
    color: #333333;

}
.forgot{
    text-align: right;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    letter-spacing: -0.08px;
    color: #7E8389;
}
.acc{
    /* padding-top: 70px; */
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.08px;
    color: #7E8389;
}
.acc > span{
    color: black;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.hed{
    font-family: Maven Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 4px;
    color: #000000;
}
.hed_text{
    width: 210px;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.3px;
    color: #000000;
}
.logo{
    width: 59px;
    height: 88px;
    text-align: center;
}

.eld{
    width: 50px;
    height: 22px;
    display: block;
    margin: auto;
}

/* /// media queries // */

@media screen and (max-width: 1000px) and (min-width: 300px) {
    .loginBg{
        background-color: #f7f7f7;
        width: 100%;
        height: 100vh;
        align-items: center;
        display: block;
    }
    .inputPass{
        width: 100% !important;
        display: block;
    }
    .loginContainer{
        width: 80%;
        height: auto !important;
        background: #FFFFFF;
        box-shadow: 0px 4px 44px -10px rgba(0, 0, 0, 0.06);
        border-radius: 30px;
        margin: auto;
    }
    .loginBox{
        width: 80%;
        margin: auto;
    }
    .hed_text{
        width: 50%;
        text-align: center;
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 150%;
        text-align: center;
        letter-spacing: -0.3px;
        color: #000000;
        margin: auto;
        padding-bottom: 20px;
    }
    .acc{
        padding-top: 5px;
        text-align: center;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: -0.08px;
        color: #7E8389;
        padding-bottom: 12px;
    }
    .logo{
        margin-top: 50px;
        width: 49px;
        height: 70px;
        text-align: center;
    }
    
    .eld{
        width: 35px;
        height: 22px;
        display: block;
        margin: auto;
    }
}